!!! 5
%html
  %head
  %title Cloudpad
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true 
  = csrf_meta_tags
	
  %body
    .pure-menu.pure-menu-open.pure-menu-horizontal.h-menu
      %a.pure-menu-heading{href: root_path} Cloudpad
    
      %ul
        %li
          %a{href: dashboard_root_url} Dashboard
        %li
          %a{href: sign_up_path} Signup
    
    - flash.each do |name, msg|
      = content_tag :div, msg, id: "flash#{name}"
    
    .pure-g-r
      = yield
