!!! 5
%html
  %head
  %title Cloudpad
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true 
  = csrf_meta_tags
	
  %body
    .pure-menu.pure-menu-open.pure-menu-horizontal.h-menu
      = link_to root_path, class: "pure-menu-heading" do
        Cloudpad
      %ul
        %li
          = link_to dashboard_root_path do
            Dashboard
        %li
          = link_to sign_up_path do
            Signup
      - if current_user
        %ul.cur-user
          %li
            = link_to log_out_path do
              Logout
          %li
            = link_to dashboard_root_path do
              Logged in as:
              = current_user.name
      
    - flash.each do |name, msg|
      = content_tag :div, msg, id: "flash#{name}"
    
    .pure-g-r
      = yield
